<template>
    <div>
        <div>
            <b-nav pills>
                <b-nav-item>
                    <router-link to="childhood">Childhoods</router-link>
                </b-nav-item>
                <b-nav-item>
                    <router-link to="family-rank">Family Rank</router-link>
                </b-nav-item>
            </b-nav>
        </div>

        <router-view></router-view>
    </div>
</template>
<script lang="ts">
    import {Component, Vue} from 'vue-property-decorator';
    import Childhood from '../components/childhood/Childhood';

    @Component({
        components: {
            Childhood,
        },
    })
    export default class About extends Vue {
    }
</script>
