<div xmlns:v-on="http://www.w3.org/1999/xhtml">

    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">Create Profile</div>
                <div class="panel-body">
                    <label for="profileName">Enter Your Name</label>
                    <input id="profileName" class="form-control" v-model="name" placeholder="Enter Your Name">
                    <label for="profileName">Enter Id for test</label>
                    <input id="profileId" class="form-control" v-model="id" placeholder="Enter Id">
                    <!--<pre>{{profile}}</pre>-->
                    <div>
                        <h2>Stats</h2>
                        <div>
                            <label>INT:</label>{{getStats().int}}
                            <label>REF:</label>{{getStats().ref}}
                            <label>TECH:</label>{{getStats().tech}}
                            <label>COOL:</label>{{getStats().cool}}
                        </div>
                        <div>
                            <label>ATTR:</label>{{getStats().attr}}
                            <label>LUCK:</label>{{getStats().luck}}
                            <label>MA:</label>{{getStats().ma}}
                            <label>BODY:</label>{{getStats().body}}
                        </div>
                        <div>
                            <label>EMP:</label>{{getStats().emp}}
                            <label>RUN:</label>{{getStats().run}}
                            <label>LEAP:</label>{{getStats().leap}}
                            <label>LIFT:</label>{{getStats().lift1}}/{{getStats().lift2}}
                        </div>
                    </div>
                </div>
                <div class="panel-footer text-right">
                    <button v-on:click="loadProfile()" class="btn btn-primary btn-sm">Load Profile</button>
                    <button v-on:click="createProfile()" class="btn btn-primary btn-sm">Create</button>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span>Generate Dress And Personal Style</span>
                    <button v-on:click="generateDPS()" class="btn btn-primary pull-right btn-sm">Generate</button>
                    <div class="clearfix"></div>
                </div>
                <div class="panel-body">
                    <p>
                        <b>Clothes:</b>
                        <span v-if="profile.clothes">{{profile.clothes.name}}</span>
                    </p>
                    <p>
                        <b>Hair:</b>
                        <span v-if="profile.hairstyle">{{profile.hairstyle.name}}</span>
                    </p>
                    <p>
                        <b>Affectations:</b>
                        <span v-if="profile.affectations">{{profile.affectations.name}}</span>
                    </p>
                    <p>
                        <b>Ethnicity:</b>
                        <span v-if="profile.ethnicOrigins">{{profile.ethnicOrigins.name}}</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span>Family Background</span>
                    <button v-on:click="generateFb()" class="btn btn-primary pull-right btn-sm">Generate</button>
                    <div class="clearfix"></div>
                </div>
                <div class="panel-body">
                    <li class="list-unstyled" v-for="(item) in profile.fbLog">
                        <p><b>{{item.name}}</b></p>
                        <p>{{ item.fb.name }}</p>
                    </li>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span>Motivations</span>
                    <button v-on:click="generateMotivations()" class="btn btn-primary pull-right btn-sm">Generate
                    </button>
                    <div class="clearfix"></div>
                </div>
                <div class="panel-body">
                    <div v-if="profile.motivationsLog">
                        <li class="list-unstyled" v-for="(item) in profile.motivationsLog">
                            <p><b>{{item.name}}</b></p>
                            <p>{{ item.motivation.name }}</p>
                        </li>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span>Life Events</span>
                    <button v-on:click="generateLifeEvents()" class="btn btn-primary pull-right btn-sm">Generate
                    </button>
                    <div class="clearfix"></div>
                </div>
                <div class="panel-body">
                    <table class="table table-striped" v-if="profile.lifeEvents">
                        <tr>
                            <th>Year</th>
                            <th>One event for year after 16</th>
                        </tr>
                        <tr v-for="(event, index) in profile.lifeEvents">
                            <td>{{17+index}}</td>
                            <td>
                                <label>{{event.name}}</label>
                                <ul v-if="event.bpBwLog.length">
                                    <li v-for="(bpBwLog) in event.bpBwLog">
                                        {{bpBwLog.name}}: {{bpBwLog.bpBw.name}}
                                    </li>
                                </ul>
                                <ul v-if="event.faeLog.length">
                                    <li v-for="(faeLog) in event.faeLog">
                                        <label>{{faeLog.name}}:</label> {{faeLog.fae.name}}
                                    </li>
                                </ul>
                                <ul v-if="event.romanticLifeLog.length">
                                    <li v-for="(romanticLifeLog) in event.romanticLifeLog">
                                        <label>{{romanticLifeLog.name}}:</label> {{romanticLifeLog.romanticLife.name}}
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span>Siblings</span>
                    <div class="clearfix"></div>
                </div>
                <div class="panel-body">
                    <ul class="">
                        <li v-for="(sibling) in profile.siblings">
                            <p>{{sibling.name}}</p>
                            <p>{{sibling.sex}}</p>
                            <p>{{sibling.age}}</p>
                            <p>{{sibling.relationship}}</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
