<template>
    <div id="app">
        <div class="container">
                <b-nav pills>
                    <b-nav-item variant="info">
                        <router-link to="/">Home</router-link>
                    </b-nav-item>
                    <b-nav-item active>
                        <router-link to="/generators">Generators</router-link>
                    </b-nav-item>
                    <b-nav-item active>
                        <router-link to="/entities">Entities</router-link>
                    </b-nav-item>
                </b-nav>
            <router-view/>
        </div>
    </div>
</template>

<style lang="scss">
    #app {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
</style>
